/*----------ALL----------*/

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}




/*----------HEADER----------*/

header {
    background-color: black;
    color: white;
    text-align:center;
    padding: 100px;
}


/*----------MAIN----------*/

a {
    color: white;
}

.articleContainer {
    width: 65%;
    margin: 15px auto;
}

.articleContainer > div {
    background-color: #cacaca;
    margin: 50px 0 0;
    border-radius: 34px;
    display: flex;
    justify-content: space-around;
    padding: 60px 10px;
}

.articleContainer > div > a {
    background-color: #a8490e;
    border-radius: 50px;
    padding: 7px 40px;
}



/*----------FOOTER----------*/

footer {
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 48px;
    padding: 70px;    
}

/*----------MEDIA QUERIES----------*/


/* MOBILE */
@media (max-width:599px) {
    p {
        display: none;
    }
}


@media (min-width:600px) {
    .articleContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }

    .articleContainer > div {
        max-width: 300px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 5px;
    }

    a {
        transform: translate(-50%, -50%);
        top: 100%;
        left: 100%;
    }

    .articleContainer > div > a{
        padding: 10px 25px;
    }

    .articleContainer > div {
        margin: 30px 0 15px 30px;
    }

    .absolute {
    position: absolute;
}

    .relative {
    position: relative;
}
}

/* DESKTOP */

@media (min-width:1024) {

}